<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Data survey form</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <!-- <b-container> -->
        <b-jumbotron class="mb-0 text-center">

          <template v-slot:header>

            CSC 642 Summer 2020
            <br>Individual Assignment
            <h1>Luis Chumpitaz</h1>
            <br>
            Data Survey Form
          </template>

          <!-- <b-btn variant="primary" href="https://bootstrap-vue.org/">More Info</b-btn> -->
        </b-jumbotron>
        <!-- </b-container> -->

        <b-container class="mycontainer">
          <b-form @reset="onReset" v-if="show" action ="/form_data" method = "POST">

            <b-card bg-variant="light">
              <b-form-group id="input-group-1" label="Your Name" label-for="input-1" label-class="font-weight-bold pt-0" label-size="lg">
                <b-row class="my-1">
                  <b-col sm="6">
                    <b-form-input
                      id="input-1"
                      name="name"
                      v-model="form.name"
                      required
                      placeholder="Enter first name"
                    ></b-form-input>
                  </b-col sm="6">
                  <b-col sm="6">
                    <b-form-input
                      id="input-1"
                      name="lastname"
                      v-model="form.lastname"
                      required
                      placeholder="Enter last name"
                    ></b-form-input>
                  </b-col sm="6">
                </b-row>
              </b-form-group>

              <b-form-group id="input-group-2" label="Address" label-size="lg" label-class="font-weight-bold pt-0">

                <b-row>
                  <b-col sm="8">
                    <b-form-group label-cols-sm="2" label-align-sm="left" label="Street" label-for="nested-street">
                      <b-form-input name="street" id="nested-street"></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group label-cols-sm="2" label-align-sm="left" label="City" label-for="nested-city">
                      <b-form-input name="city" id="nested-city"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row>
                  <b-col sm="4">
                    <b-form-group label-cols-sm="4" label-align-sm="left" label="State" label-for="nested-state">
                      <b-form-input name="state" id="nested-state"></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group label-cols-sm="4" label-align-sm="left" label="Country" label-for="nested-country">
                      <b-form-input name="country" id="nested-country"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="4">
                    <b-form-group label-cols-sm="5" label-align-sm="left" label="Zip code" label-for="nested-area">
                      <b-form-input name="area" id="nested-area" type="number"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>

              </b-form-group>

              <b-form-group>
                <b-row>
                  <b-col>
                    <b-form-group id="input-group-3" label="Date of Birth" label-for="input-3" label-size="lg" label-class="font-weight-bold pt-0">
                      <b-form-input id="input-3" name="date" type="date"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group id="input-group-4" label="Education" label-for="degree" label-size="lg" label-class="font-weight-bold pt-0">
                    <b-form-input name="degree" list="input-list" id="input-with-list"></b-form-input>
                    <b-form-datalist id="input-list" :options="form.options"></b-form-datalist>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <b-form-group id="input-group-5" label="Height" label-size="lg" label-class="font-weight-bold pt-0">
                      <b-row>
                        <b-col sm="6">
                          <b-form-group label-cols-sm="4" id="feet" label="Feet">
                          <b-form-input id="feet" name="feet" type="number"></b-form-input>
                          </b-form-group>
                        </b-col>
                        <b-col sm="6">
                          <b-form-group label-cols-sm="4" id="inches" label="Inches">
                          <b-form-input id="inches" name="inches" type="number"></b-form-input>
                          </b-form-group>
                        </b-col>
                      </b-row>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group id="input-group-6" label="Phone" label-for="phone" label-size="lg" label-class="font-weight-bold pt-0">
                    <b-form-input name="phone" type="number" id="input-with-list"></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-form-group>

              <b-form-group>
                <b-row>
                  <b-col>
                    <b-form-group id="input-group-7" label="Email" label-for="email" label-size="lg" label-class="font-weight-bold pt-0">
                      <b-form-input id="email" name="email" type="email" v-model="form.email" required :state="email_validation"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col>
                    <b-form-group id="input-group-8" label="Email Confirmation" label-for="email2" label-size="lg" label-class="font-weight-bold pt-0">
                      <b-form-input id="email2" type="email" v-model="form.email2" required :state="email_validation"></b-form-input>
                      <b-form-invalid-feedback :state="email_validation">
                        Emails do not match
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-form-group>


            </b-card>

            <b-form-group id="input-group-9">
              <b-form-checkbox-group v-model="form.checked" id="checkboxes-4" name="agreement">
                <b-form-checkbox value="accept" required>I Agree to terms</b-form-checkbox>
              </b-form-checkbox-group>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>


        </b-container>
    </div>

    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          name: '',
          form: {
            name: '',
            lastname: '',
            address: '',
            date: '',
            email: '',
            email2: '',
            options: ['High School Diploma', 'Associates Degree', 'Bachelors Degree', 'Masters Degree', 'PhD', 'MPH', 'JD', 'MD'],
            checked: []
          },
          show: true
        },
        methods: {
          // onSubmit(evt) {
          //   evt.preventDefault()
          //   fetch("/form_data", {method: "POST", body:JSON.stringify(this.form)})
          // },
          send_json(evt){
            return JSON.stringify(this.form)
          },
          onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.email = ''
            this.form.email2 =''
            this.form.name = ''
            this.form.food = null
            this.form.checked = []
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
              this.show = true
            })
          }
        },
        computed: {
          email_validation() {
            if (this.form.email2 == '')
            {
              return null;
            }
            return this.form.email == this.form.email2 ? true: false

          }

        }

      })
    </script>
  </body>
</html>
