<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table border = 1>
         {% for key, value in result.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>

      <p>  </p>

      <div style="text-decoration:none; overflow:hidden;max-width:100%;width:500px;height:500px; margin: 0 auto;">
        <div id="gmapcanvas" style="height:100%; width:100%;max-width:100%;">
          <iframe style="height:100%;width:100%;border:0;" frameborder="0"
          src={{"https://www.google.com/maps/embed/v1/search?q="+address_q + "&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"}}>
          </iframe>
        </div>
      </div>
  </body>
</html>
